<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/edit.css" /> 
<%- include('../partials/nav') %> 


<main>
  <h1><%= title %> </h1>
  <form action="/queens/<%= queen._id %>?_method=PUT" method="POST">
    <label>Drag Name:
      <input type="text" name="dragName" value="<%= queen.dragName %> ">
      </select>
    </label><br>
    <label>City:
      <input type="text" name="city" value="<%= queen.city %> ">
    </label><br>
    <label>Season:
      <select name="season" value="<%= queen.season %> ">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
        <option value="13">13</option>
        <option value="14">14</option>
        </select>
    </label><br>
    <label>Episode Eliminated:
      <select name="episodeEliminated" value="<%= queen.episodeEliminated %> ">
        <option value="N/A">N/A</option>
        <option value="episode 1">1</option>
        <option value="episode 2">2</option>
        <option value="episode 3">3</option>
        <option value="episode 4">4</option>
        <option value="episode 5">5</option>
        <option value="episode 6">6</option>
        <option value="episode 7">7</option>
        <option value="episode 8">8</option>
        <option value="episode 9">9</option>
        <option value="episode 10">10</option>
        <option value="episode 11">11</option>
        <option value="episode 12">12</option>
        <option value="episode 13">13</option>
        <option value="episode 14">14</option>
      </select>
    </label><br>
    <button type="submit">Edit Queen</button>
  </form>
</main>

<%- include('../partials/footer') %> 