<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/edit.css" /> 
<%- include('../partials/nav') %> 

<main>
  <h1><%= title %> </h1>
  <form action="/queens/<%= queen._id %>?_method=PUT" method="POST">
    <label>Drag Name:
      <input type="text" name="dragName" value="<%= queen.dragName %> ">
      </select>
    </label><br>
    <label>City:
      <input type="text" name="city" value="<%= queen.city %> ">
    </label><br>
    <label>Season:
      <input type="text" name="season" value="<%= queen.season %> ">
      </select>
    </label><br>
    <label>Episode Eliminated:
      <input type="text" name="episodeEliminated" value="<%= queen.episodeEliminated %> ">
    </label><br>
    <button type="submit">Edit Queen</button>
  </form>
</main>

<%- include('../partials/footer') %> 