<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/queens/show.css" /> 
<%- include('../partials/nav') %> 


  <h1><%= title %></h1>
  <section>
    <div>Drag Name: </div>
    <div><%= queen.dragName %></div>
    <div>City: </div>
    <div><%= queen.city %></div>
    <div>Season: </div>
    <div><%= queen.season %></div>
    <div>Episode Eliminated: </div>
    <div><%= queen.episodeEliminated %></div>
    <% if (queen.owner.equals(user?.profile._id)) { %>
      <form action="/queens/<%= queen._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit this Queen</button>
      </form>
    <% } %> 
    <h2>The Library Is Open!</h2>
<form 
  id="add-read-form"
  action="/queens/<%= queen._id %>/reads"
  method="POST"
>
  <label for="content-textarea">Read <%= queen.dragName %> :</label>
  <textarea name="content" id="content-textarea"></textarea>
  <button type="submit">Add Read</button>
</form>
<% if(queen.reads.length) { %>
  <table>
   <thead>
     <tr>
       <th>Read</th>
       <th>Posted By</th>
     </tr>
   </thead>
   <tbody>
     <% queen.reads.forEach(function(read) { %>
      <tr>
        <td><%= read.content %> </td>
        <td><%= user.profile.name %> </td>
      </tr> 
    <% }) %> 
   </tbody>
  </table>
<% } %> 
  </section>


<%- include('../partials/footer') %> 